@font-face {
  font-family: chillax-regular;
  // src: url("../../assets/Chillax_Complete/Fonts/OTF/Chillax-Regular.otf");
  src: url("../../assets/Montserrat/Montserrat-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  .head {
    display: flex;
    .header {
      width: 70%;
      height: 120px;
      background: #131a2f;
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      margin-left: 140px;
      margin-top: 50px;
      z-index: 999;
      position: fixed;

      .logo {
        position: relative;
        .img {
          width: 50px;
          height: 41px;
          position: absolute;
          bottom: 15px;
          left: 70px;
        }
        .text {
          margin-left: 99px;
          margin-bottom: -12px;
          .h3 {
            width: 112px;
            height: 18px;
            font-size: 24px;
            font-weight: 500;
            line-height: 0.75;
            color: #ffffff;
            text-transform: uppercase;
            font-family: chillax-regular;
          }
          .p {
            width: 110px;
            height: 15px;
            font-size: 10px;
            font-weight: 500;
            color: #929292;
            letter-spacing: 0.13em;
            margin-top: 2px;
            padding-left: 2px;
            text-transform: uppercase;
            font-family: chillax-regular;
          }
        }
      }

      .list {
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: center;
        margin-right: 25px;
        li {
          color: white;
          display: block;
          font-size: 18px;
          font-weight: 400;
          color: #ffffff;
          line-height: 121px;
          padding-left: 22px;
          padding-right: 25px;
          font-family: chillax-regular;
        }
        li:hover{
          color: #fe435b; 
        }
      }
    }
    .icon-button{
      position: relative;
      .header-btn {
        z-index: 999;
        width: 118px;
        height: 120px;
        position: fixed;
        top: 50px;
        left: 1148px;
        background: #fe435b;
        cursor: pointer;
        border: none;
      }
      .wishlist-count{
        color: white;
        font-size: 20px;
        position: fixed;
        left: 1225px;
        top: 75px;
        z-index: 999;
        font-family: chillax-regular;
      }
    }
  }
}
