@font-face {
    font-family: chillax-regular;
    src: url("../../../assets/Montserrat/Montserrat-VariableFont_wght.ttf");
  }
  
.div{
    height: 100vh;
    .data {
        display: flex;
        justify-content: center;
        padding-right: 500px;
        padding-top: 100px;

    }
    .btn-user-1 {
        margin-left: 15px;
        padding: 12px 28px;
        width: 150px;
        height: 5.8vh;
        background: #0f0c29; /* fallback for old browsers */
        background: #000000; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #0f9b0f,
          #000000
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #0f9b0f,
          #000000
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-family: chillax-regular;
        margin-left: 340px;
        margin-top: 20px;
      }
      .ant-card-body {
        padding: 0;

      }
}