

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    .ul-drop{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
}