@font-face {
  font-family: chillax-regular;
  src: url("../../../assets/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  .color-main {
    display: flex;
    flex-direction: column;

    background: #c33764; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1d2671,
      #c33764
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1d2671,
      #c33764
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    .text-main {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 150px;
      .h1-main {
        font-family: chillax-regular;
        color: white;
      }
    }
    .image-main {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      .img-main {
        width: 60%;
        height: 55vh;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
    .main-button {
      display: flex;
      margin-left: 650px;
      margin-top: 25px;
      .main-btn {
        width: 150px;
        padding: 14px 32px;
        height: 6.5vh;
        border: none;
        background: #000428; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #004e92,
          #000428
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #004e92,
          #000428
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        border-radius: 10px;
        color: white;
        cursor: pointer;
        font-family: chillax-regular;
      }
    }
  }
}
