@font-face {
    font-family: chillax-regular;
    src: url("../../../assets/Montserrat/Montserrat-VariableFont_wght.ttf");
  }
  
  *{
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
  
    .offers-admin{
        width: 72%;
        margin-left: 340px;
        padding-top: 80px;
    }
  }