@font-face {
    font-family: chillax-regular;
    src: url("../../../assets/Montserrat/Montserrat-VariableFont_wght.ttf");
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    .detail-page{
        margin-left: 350px;
        position: relative;
        top: 120px;        
        width: 900px;
        height: 60vh;
        border: 2px solid gray;
        border-radius: 10px;
        background-color: white;
        .data{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 100px;
            .data-img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 2px solid black;
                margin-left: 35px;
                margin-top: 10px;
            }
            .info-data{
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: relative;
                right:60px;
                .data-p{
                    font-size: 30px;
                    font-family: chillax-regular;
                }
                .email-data{
                    margin-top: 10px;
                    font-size: 20px;
                    font-family: chillax-regular;
                }
            }
        }
        .column{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding: 50px;

            .subject-data{
                font-size: 30px;
                font-family: chillax-regular;
            }
            .desc-p{
                font-size: 20px;
                font-family: chillax-regular;
                text-align: justify;
                color: deeppink;
            }
        }
    }
}