@font-face {
  font-family: chillax-regular;
  src: url("../../../assets/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  .user {
    margin-left:400px ;
    padding-top: 80px;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    // .p-user {
    //     font-size: 28px;
    //     color:deeppink;
    //     font-family: chillax-regular;
    //     margin-bottom: 10px;
    // }
    .profile-admin {
        width: 1200px;
            // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

      .profile-images {
        width: 70%;
        height: 30vh;
        border-bottom: 1px solid gray;
        .profile-img {
          width: 100%;
          height: 30vh;
          object-fit:cover;
        }
      }
      .profile-text {
        width: 70%;
        height: 35vh;
        background-color: white;
        .user-display {
          display: flex;
          align-items: center;
          gap: 20px;
          padding-top: 10px;
          padding-left: 40px;
          .user-image {
            .user-img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              border: none;
              background-color: transparent;
              border: 1px solid gray;
              object-fit: cover;
            }
          }
          .users-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .users-p {
              font-size: 18px;
              font-family: chillax-regular;
              color:deeppink;
            }
            .users-p-2 {
              font-size: 18px;
              font-family: chillax-regular;
              color: deeppink;
            }
          }
        }
        .user-private{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding-top: 60px;
          .users-info-private{
            margin-right: 20px;
            .full{
              font-size: 18px;
              font-family: chillax-regular;
              color: black;
            }
            .mobile{
              font-size: 18px;
              font-family: chillax-regular;
              color: black;
            }
            .email{
              font-size: 18px;
              font-family: chillax-regular;
              color: black;
            }
          }
          .user-info-private{
            .username{
              font-size: 18px;
              font-family: chillax-regular;
              color: black;
            }
            .birthday{
              font-size: 18px;
              font-family: chillax-regular;
              color: black;
            }
          }
        }
      }
    }
  }
}
